body{
    background-color: bisque;
}
.top{
    text-align: center;
    margin: 1% auto;
}
#book_cover{
    width: 25%;
    height: auto;
    margin: 10px auto;
}
#description{
    text-indent: 3rem;
    width: 75%;
    margin: 0 auto;
}
.bookcover{
    width: 45%;
    margin-top: 15px;
}