{% extends 'base.html' %}
{% block title %}Signin{% endblock %}
{% block content %}
    <div class="container-fluid text-center">
        <h2>User Signin</h2>
        <form method="POST">

            {{ form.hidden_tag() }}

            {% for field in form if field.widget.input_type != 'hidden' %}
                {% for error in field.errors %}
                    <span class="text-danger">{{error}}</span>
                {% endfor %}
                <div class="row">
                    {{ field(placeholder=field.label.text, class="form-group col-4 offset-4 my-2 self-align-center")}}
                </div>
            {% endfor %}
            <button class="btn btn-lg btn-success mt-3">Submit</button>
        </form>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-9"></div>
            <div class="col-2">
                <a href="/users/forgot" class="btn btn-dark">Forgot Password</a>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}

{% endblock %}