{% extends 'base.html' %}
{% block title %}Your Reading Companion{% endblock %}
{% block content %}
    <div class="top">
        <h3>Top Books</h3>
        <div class='container' id='top_books'>
            <div class="row">
                {% for result in results %}
                    <div class="card col-2 my-1 mx-auto">
                        <a href="/books/check/{{result[0]['volumeInfo']['title']}}">
                            <img src="{{result[0]['volumeInfo']['imageLinks']['thumbnail']}}" 
                                alt="{{result[0]['volumeInfo']['title']}}" 
                                class="card-img-top bookcover">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">{{result[0]['volumeInfo']['title']}}</h5>
                        </div>
                    </div>
            {% endfor %}
            </div>
        </div>
    </div>
    <div class="top">
        <h4>Current Forum Posts</h4>
    </div>  
{% endblock %}
{% block scripts %}
    <script src="../static/app.js"></script>
{% endblock %}