{% extends 'base.html' %}
{% block title %}Your Reading Companion{% endblock %}
{% block content %}
    <div class="top">
        <h3>Top Books</h3>
        <div class='container' id='top_books'>
            {% if books %}
                {% for book in books %}
                    <div class="row my-2 align-items-center">
                        <div class="col-1"></div>
                        <div class="col-2"><img src="{{book.image}}" alt="{{book.title}}" class="img-fluid rounded w-75"></div>
                        <div class="col-6">
                            <div class="row">
                                <h3>{{book.title.title()}}</h3>
                            </div>
                            <div class="row">
                                <h5>{{book.author.author_name}}</h5>
                            </div>
                        </div>
                        <div class="col-2">
                            <a href="/books/{{book.id}}" class="btn btn-secondary">View Details</a>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
    <div class="top">
        <h4>Current Forum Posts</h4>
        {% if clubs %}
            {% for club in clubs %}
                <div class="container text-center">
                    <div class="row">
                        <div class="col-2"></div>
                        <div class="col-2">
                            <img src="{{club.book.image}}" alt="{{club.book.title}}">
                        </div>
                        <div class="col-4"><a href="/bookclub/{{club.id}}" class="nav-link text-secondary">{{club.discussion_title}}</a></div>
                        <div class="col-2">{{club.user.username}}</div>
                        <div class="col-2"></div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>  
{% endblock %}
{% block scripts %}
    <script src="../static/app.js"></script>
{% endblock %}