{% extends 'base.html' %}
{% block title %}{% endblock %}
{% block content %}
<div class="container">
    <div class="row border border-dark p-2">
        {% for club in clubs %}
            {% if club.reviewed %}    
                <div class="row">
                    <div class="col-4">
                        Image
                    </div>
                    <div class="col-4">
                        {{club.discussion_title}}
                    </div>
                    <div class="col-4">
                        {{club.discussion_posted_date}}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>


{% endblock %}
{% block scripts %}
    <script src="/static/app.js"></script>
{% endblock %}